<div class="content">
    <div class="content-text">
        <h1> Stort utbud <br /> av samlarkort <br /> och <br /> tillbehör </h1>
        <p>Fri frakt vid beställning över 600kr</p>
    </div>
    <img class="content-pic" src="~/bilder/pokemonpic.png" alt="Pokemon and Ash">
</div>